body {
    background-color: black;
    margin: 0;
}

nav a {
    background-color: black;
    color: #3a3837;
}

nav:hover, nav:hover a {
    background-color: #242424;
    color: rgba(216, 201, 201, 0.767);
    transition: 0.5s;
}

.sidebar {
    height: 100%;
    width: 1%;
    position: fixed;
    z-index: 1;
    top: 0;
    /* background-color: inherit; */
    overflow-x: hidden;
    /* padding-top: 20px; */
}

#leftside {
    left: 0;
}

#rightside {
    right: 0;
}